<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - iRec WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iRec WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iRec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>920CCFB91A94DAD1004BD668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>920CCFD51A94DAD1004BD668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>927ADA261B13ACF200B4887C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92D945C61B2CC7DB00FF16EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E557051B3F1C7E0013CC7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
